<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.allin.knowledge.mapper.KnowledgeCustomerAnswerMapper" >
  <resultMap id="abatorgenerated_KnowledgeCustomerAnswerResult" type="com.allin.knowledge.model.KnowledgeCustomerAnswer" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="customer_id" property="customerId" jdbcType="BIGINT" />
    <result column="answer_id" property="answerId" jdbcType="BIGINT" />
    <result column="exam_id" property="examId" jdbcType="BIGINT" />
    <result column="materiel_id" property="materielId" jdbcType="BIGINT" />
    <result column="materiel_name" property="materielName" jdbcType="VARCHAR" />
    <result column="option_id" property="optionId" jdbcType="VARCHAR" />
    <result column="option_desc" property="optionDesc" jdbcType="VARCHAR" />
    <result column="is_right_option" property="isRightOption" jdbcType="INTEGER" />
    <result column="answer_time" property="answerTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="is_valid" property="isValid" jdbcType="INTEGER" />
    <result column="sort_id" property="sortId" jdbcType="INTEGER" />
  </resultMap>

  <!-- 添加 （动态匹配所有有值字段）-->
  <insert id="inserts" parameterType="java.util.HashMap">
    <selectKey keyProperty="id" order="AFTER" resultType="int">
      SELECT LAST_INSERT_ID()  as id
      FROM knowledge_customer_answer
      limit 1;
    </selectKey>
    INSERT INTO knowledge_customer_answer(
    <if test="customerId!=null">customer_id</if>
    <if test="answerId!=null">,answer_id</if>
    <if test="examId!=null">,exam_id</if>
    <if test="materielId!=null">,materiel_id</if>
    <if test="materielName!=null">,materiel_name</if>
    <if test="optionId!=null">,option_id</if>
    <if test="optionName!=null">,option_name</if>
    <if test="isRightOption!=null">,is_right_option</if>
    <if test="createTime!=null">,create_time</if>
    <if test="isValid!=null">,is_valid</if>
    <if test="sortId!=null">,sort_id</if>
    <![CDATA[) values (]]>
    <if test="customerId!=null">#{customerId},</if>
    <if test="answerId!=null">#{answerId},</if>
    <if test="examId!=null">#{examId},</if>
    <if test="materielId!=null">#{materielId},</if>
    <if test="materielName!=null">#{materielName},</if>
    <if test="optionId!=null">#{optionId},</if>
    <if test="optionName!=null">#{optionName},</if>
    <if test="isRightOption!=null">#{isRightOption},</if>
    <if test="createTime!=null">#{createTime},</if>
    <if test="isValid!=null">#{isValid},</if>
    <if test="sortId!=null">#{sortId}</if>
    <![CDATA[)]]>
  </insert>

</mapper>